In [1]:
#Importing the libraries
import pandas as pd

In [2]:
df_games=pd.read_parquet(r"./Data/games_cleaned2.parquet")

In [3]:
df_games.head(

)

,genres,app_name,price,early_access,id,developer,year
0,Action,Lost Summoner Kitty,4.99,0.0,761140,Kotoshiro,2018
1,Casual,Lost Summoner Kitty,4.99,0.0,761140,Kotoshiro,2018
2,Indie,Lost Summoner Kitty,4.99,0.0,761140,Kotoshiro,2018
3,Simulation,Lost Summoner Kitty,4.99,0.0,761140,Kotoshiro,2018
4,Strategy,Lost Summoner Kitty,4.99,0.0,761140,Kotoshiro,2018

In [4]:
type(df_games['developer'][0])

str

In [7]:
def developer(desarrollador: str):

  df_dev=df_games[df_games["developer"]==desarrollador][["year","id","price"]]

  grouped_data = df_dev.groupby('year')
  unique_id_count = grouped_data['id'].nunique()
  zero_price_percentage = grouped_data.apply(lambda group: str(round((group['price'] == 0).mean() * 100))+"%")
  #error en la posicion del ")" en  round( +'%'), el porcentaje str no puede ser redondeado.
  result_df = pd.DataFrame({
        'Cantidad de items': unique_id_count,
        'Contenido Free': zero_price_percentage
    }).reset_index()

  return result_df

In [12]:
def developer(desarrollador: str):
  df_dev=df_games[df_games["developer"]==desarrollador][["year","id","price"]]

  grouped_data = df_dev.groupby('year')
  unique_id_count = grouped_data['id'].nunique()
  zero_price_percentage = grouped_data.apply(lambda group: str(round((group['price'] == 0).mean() * 100))+"%")
  
  result_df = pd.DataFrame({
    'Cantidad de items': unique_id_count,
    'Contenido Free': zero_price_percentage
    }).reset_index()

  result_dict = result_df.to_dict(orient='records')
    
  return result_dict

In [13]:
developer('Valve')

[{'year': '1998', 'Cantidad de items': 1, 'Contenido Free': '0%'},
 {'year': '1999', 'Cantidad de items': 1, 'Contenido Free': '0%'},
 {'year': '2000', 'Cantidad de items': 2, 'Contenido Free': '0%'},
 {'year': '2001', 'Cantidad de items': 1, 'Contenido Free': '0%'},
 {'year': '2003', 'Cantidad de items': 1, 'Contenido Free': '0%'},
 {'year': '2004', 'Cantidad de items': 5, 'Contenido Free': '0%'},
 {'year': '2005', 'Cantidad de items': 1, 'Contenido Free': '100%'},
 {'year': '2006', 'Cantidad de items': 2, 'Contenido Free': '0%'},
 {'year': '2007', 'Cantidad de items': 3, 'Contenido Free': '50%'},
 {'year': '2008', 'Cantidad de items': 1, 'Contenido Free': '0%'},
 {'year': '2009', 'Cantidad de items': 1, 'Contenido Free': '0%'},
 {'year': '2010', 'Cantidad de items': 2, 'Contenido Free': '50%'},
 {'year': '2011', 'Cantidad de items': 1, 'Contenido Free': '0%'},
 {'year': '2012', 'Cantidad de items': 2, 'Contenido Free': '67%'},
 {'year': '2014', 'Cantidad de items': 7, 'Contenido Free': '100%'},
 {'year': '2016', 'Cantidad de items': 1, 'Contenido Free': '100%'},
 {'year': '2017', 'Cantidad de items': 2, 'Contenido Free': '0%'}]

# el ultimo

In [40]:
df_greviews=pd.read_parquet(r"./Data/g_reviews2.parquet")

In [17]:
df_greviews.head()

,genres,app_name,price,early_access,id,developer,year,user_id,item_id,recommend,sentiment_analysis
0,Action,Carmageddon Max Pack,9.99,0.0,282010,Stainless Games Ltd,1997,SC3SynC,282010,True,1
1,Indie,Carmageddon Max Pack,9.99,0.0,282010,Stainless Games Ltd,1997,SC3SynC,282010,True,1
2,Racing,Carmageddon Max Pack,9.99,0.0,282010,Stainless Games Ltd,1997,SC3SynC,282010,True,1
3,Action,Half-Life,9.99,0.0,70,Valve,1998,76561198020928326,70,True,2
4,Action,Half-Life,9.99,0.0,70,Valve,1998,76561198087135044,70,True,1

In [15]:
def developer_reviews_analysis(desarrolladora: str):
  df_dev_rev=df_greviews[df_greviews["developer"]==desarrolladora]

  dev_rev_new=df_dev_rev["sentiment_analysis"].value_counts().reset_index()

  if not (dev_rev_new['index'] == 0).any():
    dev_rev_new = pd.concat([dev_rev_new, pd.DataFrame({'index': [0], 'sentiment_analysis': [0]})], ignore_index=True)
  if not (dev_rev_new['index'] == 1).any():
    dev_rev_new = pd.concat([dev_rev_new, pd.DataFrame({'index': [1], 'sentiment_analysis': [0]})], ignore_index=True)
  if not (dev_rev_new['index'] == 2).any():
    dev_rev_new = pd.concat([dev_rev_new, pd.DataFrame({'index': [2], 'sentiment_analysis': [0]})], ignore_index=True)
  dev_rev_new.sort_values(by=["index"],inplace=True,ignore_index=True)
  positive=dev_rev_new.iloc[1,1]
  negative=dev_rev_new.iloc[0,0]

  return {f"{desarrolladora}:[Negativos:{negative}, Positivos:{positive}]"}

In [20]:
def developer_reviews_analysis(desarrolladora: str):
    df_dev_rev = df_greviews[df_greviews["developer"] == desarrolladora]

    dev_rev_new = df_dev_rev["sentiment_analysis"].value_counts().reset_index()

    # Agregar filas para sentimientos faltantes
    for index in range(3):
        if index not in dev_rev_new['index'].values:
            dev_rev_new.sort_values(inplace=True)
            #dev_rev_new = dev_rev_new.append({'index': index, 'sentiment_analysis': 0}, ignore_index=True)

    dev_rev_new.sort_values(by=["index"], inplace=True)
    dev_rev_new.reset_index(drop=True, inplace=True)

    positive = dev_rev_new[dev_rev_new['index'] == 2]['sentiment_analysis'].values[0]
    negative = dev_rev_new[dev_rev_new['index'] == 0]['sentiment_analysis'].values[0]

    return {f"{desarrolladora}:[Negativos:{negative}, Positivos:{positive}]"}

In [43]:
developer_reviews_analysisCHAT('Valve')

TypeError: developer_reviews_analysisCHAT() missing 1 required positional argument: 'df_greviews'